*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

body{
    height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4ecec;
    color: #000;
} 

/* global tag */
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

/*Custom*/
.toolbar__item .dropdown .dropdown-toggle::after{
  display: none;
}

ul.dropdown-menu.show{
  border-right: 3px solid #fff;
  inset: 1rem auto auto 0px !important;
  border: unset;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.dropdown-item{
  color: #6c757d;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: #dfefeb;
  border-right: 3px solid #2ca484;
}

/* App */
#app{
  display: flex;
  width: 100%;
  height: 100%;
  background: #ffff;
  border-radius: 2.5rem;
  overflow: hidden;
}

/* sidebar */
.sidebar{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 5rem 2.5rem;
  border-right: 1px solid #e4ecec;
  height: 100%;
}

.sidebar__nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  height: 100%;
}

.menu{
  padding-left: 0;
}

.menu__item{
  color: #6c757d;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.menu__item i{
  margin-right: 1rem;
}

.menu__item:hover{
  color: #000;
  background-color: #dfefeb;
  border-right: 4px solid #2ca484;
}

/*todo section*/
.todo-section{
  display: flex;
  flex-direction: column;
  flex: 3;
  display: flex;
  padding: 3rem 3rem 0 2rem;
}

/*todo header*/
.todo__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*header search*/
.header__search-bar{
  font-weight: bold;
  color: #6c757d;
}

.header__search-bar .search-bar__input{
border: unset;
outline: unset;
padding: .5rem; 
}

/*header toolbar*/
.header__toolbar{
  display: flex;
  align-items: center;
}

.toolbar__item:hover, .toolbar__item:hover a{
  color: #000;
}

/*toolbar item*/
.toolbar__item{
  color: #6c757d;
}

.toolbar__item i{
  font-size: 1.25rem;
}

.toolbar__item .avartar{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.toolbar__item+.toolbar__item{
  margin-left: 1rem;
}

.todo-board{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-top: 1rem;
}

.todo-board__header{
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-board__header .board-name{
  margin-bottom: 0;
}

/*todo board detail*/
.todo-board__detail{
  margin-top: 1rem;
  flex-grow: 1;
}


.process{
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 100%;
  background: #f7fbfa;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.process__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process__header .process__count{
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  font-size: .875rem;
  color: #2ca484;
  background: #e4ecec;
  border-radius: .125rem;
}

.process__todo-list{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 27rem;
  overflow-y: scroll;
}

.todo-sticker{
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background: #fff;
  border-radius: 1rem;
}

.todo-sticker:hover{
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.todo-sticker+.todo-sticker{
  margin-top: 1rem;
}

.todo-sticker__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper{
  display: flex;
  align-items: center;
}

.sticker__title{
  margin-bottom: 0;
}

.todo-sticker__header a{
  color: #6c757d;
}

.todo-sticker__header a:hover{
  color: #000;
}

.title-wrapper > i{
  display: flex;
  font-size: 1.5rem;
}

.todo-sticker--backlog .todo-sticker__header .title-wrapper > i{  
  color: #ffc107;
}

.todo-sticker--in-process .todo-sticker__header .title-wrapper > i{
  color: #0d6efd;
}

.todo-sticker--done .todo-sticker__header .title-wrapper > i{
  color: #198754;
}

.todo-sticker__description{
  padding: 1rem 0;
  font-size: .875rem;
  color: #6c757d;
  display: flex;
  flex-wrap: wrap;
}

.todo-sticker__pic{
  display: flex;
  align-items: center;
}

.pic__item +.pic__item {
  margin-left: .125rem;
}

.pic__item .pic__avartar{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

/*pop up*/

.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1059;
  display: block  ;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: #000;
  opacity: 0.1;
}

.popup-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block  ;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.popup {
  position: relative;
  width: 48rem;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.popup__content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36rem;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2rem;
    outline: 0;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}


/*button*/
.todo-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.5rem;
  outline:none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
